<?php
  define('NO_AUTH',1);
  require $_SERVER['PHP_ROOT'] . 'init.inc.php';
  $url = YC_Util::getCurrentUrl();
  $js_data = YC_Util::getWeixinSignature($url);

  $gUserId = ServerTokenV3::getUserId();
  $isLogin = $gUserId ? true : false;
  $can_jump_to_rebate=false;
  if(isset($_SERVER['HTTP_USER_AGENT'])){
    $ga=$_SERVER['HTTP_USER_AGENT'];
    $pattern="/YongChe\/([0-9.])+/";
    preg_match($pattern,$ga,$match);
    if(!empty($match)){
      $version=substr($match[0],8,6);
      if(version_compare($version, '6.3.8')>0){
          $can_jump_to_rebate=true;
      }
    }
   }
?>


 


<script>
    var u = window.navigator.userAgent;
    var isLogin = '<?=$isLogin?>';
    var can_jump_to_rebate = '<?=$can_jump_to_rebate?>';
    $("#appointment").click(function(){
        //判断app内是否登录
        if(u.indexOf("YongChe")> -1){
            //app内
            if(!isLogin){
              alert("您尚未登录，请登录后再充值")
              window.location.href = "yongche://login";
              return false;
          }
          if(can_jump_to_rebate){
              window.location.href = "https://pay.yongche.com/touch/rechargerebate/index"
          }else{
              alert("此版本不支持充值返现，立刻更新新版参与")
          }
        }else{
          window.location.href = "http://m.yongche.com"
        }
    });
</script>