<style>
    .hint2 { height: 27px; width: 36px; z-index: 99; position: absolute; left: 50%; margin-left: -14px; opacity: 1; bottom: 5px; -webkit-animation: hint-move 0.7s infinite ease;
     background: url(<{asset:u/images/201505/963892759.png}>) no-repeat center bottom;
/*http://i3.testing.yongche.org/u/images/201505/963892759.png?1446495960    白色*/
/*<{asset:u/images/201511/2213493820.png}>    清绿色   67 * 32  */
      background-size: 100% auto; }
  @-webkit-keyframes hint-move { 0% {
  opacity: 0;
  bottom: 10px;
  }
  70% {
  opacity: 1;
  bottom: 5px;
  }
   100% {
  opacity: 0;
  bottom: 0px;
  }
  }
</style>
