::-webkit-input-placeholder { /* WebKit browsers */ 
color: #ee5848; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #ee5848; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #ee5848; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #ee5848; 
} 