
#share_img{position: fixed;left: 0;top: 0;z-index: 9999;width: 100%;height: 100%;display: none;}
#share_img img{width: 100%;}


<div id="share_img">
  <img src="http://i1.yongche.name/media/g1/M03/13/0A/rBEARFcN_fSITIK_AACTNRJ5FnsAAHiSwP8nJEAAJNN439.png">
</div>


<script>
	var guideShare = document.getElementById("")
	guideShare.addEventListener("touchstart",function(ev){
		guideShare.addEventListener('touchmove',function(){
			return false;
		})
		document.getElementById("share_img").style.display = "block";
		ev.cancelBubble = true;
		ev.preventDefault();
	})

	document.getElementById("share_img").addEventListener("touchend",function(ev){
		document.getElementById("share_img").style.display = "none";
		ev.cancelBubble = true;
		ev.preventDefault();
	})
	document.getElementById("share_img").addEventListener("touchmove",function(){
		return false;
	})
</script>