<?php 
    define('NO_AUTH',1);
    require $_SERVER['PHP_ROOT'] . 'init.inc.php';
    $url = YC_Util::getCurrentUrl();
    $js_data = YC_Util::getWeixinSignature($url);  
?>




<script src="<{asset:js/jquery/jquery-1.8.3.min.js}>"></script>
<script src="<?=$a['js/app/i/weixin/js-api.min.js']?>"></script>

        <body>
        </body>


<script>
// (function(){

//   var page_title = "两人同行，一人免单，让饭局更易到";
//   var page_current_url = window.location.href;
//   var page_img = "<{asset:media/g1/M04/06/2F/rBEARFZdb42IaZeFAABcIWDl39sAACsCgIjRCIAAFw5134.jpg}>";
//   var page_desc = "伙力·食 五星级私厨大餐任性预约";

//   var dataForWeixin={
//      appId:"",
//      MsgImg:page_img,
//      TLImg:page_img,
//      url:page_current_url,
//      title:page_title,
//      desc:page_desc,
//      fakeid:"",
//      callback:function(){}
//   };
//    var onBridgeReady=function(){
//      WeixinJSBridge.on('menu:share:appmessage', function(argv){
//         WeixinJSBridge.invoke('sendAppMessage',{
//            "appid":dataForWeixin.appId,
//            "img_url":dataForWeixin.MsgImg,
//            "img_width":"120",
//            "img_height":"120",
//            "link":dataForWeixin.url,
//            "desc":dataForWeixin.desc,
//            "title":dataForWeixin.title
//         }, function(res){(dataForWeixin.callback)();});
//      });
//      WeixinJSBridge.on('menu:share:timeline', function(argv){
//         (dataForWeixin.callback)();
//         WeixinJSBridge.invoke('shareTimeline',{
//            "img_url":dataForWeixin.TLImg,
//            "img_width":"120",
//            "img_height":"120",
//            "link":dataForWeixin.url,
//            "desc":dataForWeixin.desc,
//            "title":dataForWeixin.title
//         }, function(res){});
//      });
//      WeixinJSBridge.on('menu:share:weibo', function(argv){
//         WeixinJSBridge.invoke('shareWeibo',{
//            "content":dataForWeixin.title,
//            "url":dataForWeixin.url
//         }, function(res){(dataForWeixin.callback)();});
//      });
//      WeixinJSBridge.on('menu:share:facebook', function(argv){
//       (dataForWeixin.callback)();
//       WeixinJSBridge.invoke('shareFB',{
//          "img_url":dataForWeixin.TLImg,
//          "img_width":"120",
//          "img_height":"120",
//          "link":dataForWeixin.url,
//          "desc":dataForWeixin.desc,
//          "title":dataForWeixin.title
//       }, function(res){});
//    });
//   };
//   if(document.addEventListener){
//      document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
//   }else if(document.attachEvent){
//      document.attachEvent('WeixinJSBridgeReady'   , onBridgeReady);
//      document.attachEvent('onWeixinJSBridgeReady' , onBridgeReady);
//   }
// })();






  var timeStr = "伙力·食 五星级私厨大餐任性预约";
  var shareData =
            {
                "title": document.title,
                "desc": timeStr,
                "imgUrl" : "<{asset:media/g1/M04/06/2F/rBEARFZdb42IaZeFAABcIWDl39sAACsCgIjRCIAAFw5134.jpg}>" ,
                "link" : window.location.href
            };
  var wxConfig = [];
  wxConfig = <?= $js_data ? json_encode($js_data) : '[]';?>;
  var callback = {};
  var c =  new WxJsApi(wxConfig,shareData,callback);
  c.init();
</script>

